# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- Table of some Tools for Data Science
- Arithmetic Expressions in Jupyter Notebooks
- Operations in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib

|Data Science Tools|
|-----|
|  Anaconda          |
|  Watson Studio     |
|  R-Studio          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
##this will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
David A. Ramos